.amo {
    width: 400px;
    margin: 0 auto;
    transform: translateY(50%);
    border: 2px solid blue;
}

.amo>form {
    display: flex;
    flex-flow: column wrap;
    padding: 30px;
}

.amo>form label {
    text-align: center;
    margin-bottom: 5px;
}

.input-item {
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid gray;
}

.success-status {
    background-color: green;
}

.status {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    top: 0;
    left: 0;
}

.danger-status {
    background-color: red;
}

.hidden {
    display: none;
}